
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>This project is designed for Skills Assessment for Golden Compass School and not intened for any commercial use.</p>
<p>
    <h3><b>Ireneo Adriano Lao</b><br />
    <small><a href="#"><em>dzunelao@gmail.com</em></a></small></h3>
    <br />
 
    <p>2419 Gen. V. Lim St.<br />
        San Rafael Village<br />
    Balut, Tondo, Manila <br />
    Philippines 1013 <br />

    <p>
        +63 9208012257<br />
        +63 2 8375127

    <p>&nbsp;
    <p>Special thanks to <a href="https://www.themoviedb.org">https://www.themoviedb.org</a> for the data used in this project
</p>
